.formContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 700px;
  margin: 30px auto;
  background-color: lightsteelblue;
  padding: 20px 25px 30px 25px;
  border-radius: 10px;
}

.formContainer label {
  font-weight: bold;
}

.formContainer input {
  padding: 5px;
}

.formContainer input:focus {
  outline: none;
}